{% extends "base.html" %}

{% block title %}
    List
{% endblock %}

{% block content %}

    <table>
        {% for thing in things %}
            <tr>
                <td> thing {{thing.pk}}</td>
                <td>{{ thing.name }}</td> 
                <td> cost : {{thing.cost}}</td>
                <td>  note : {{thing.note}}</td>
                <td><a href="{%url 'update' thing.id %}"> update</a></td>
                <td><a href="{%url 'delete' thing.id %}" > delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'new' %}">Add thing</a></p>  
    <p><a href="{% url 'index' %}">come back to home page</a></p>

{% endblock %}